/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
  margin-bottom: 1.5rem;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.hero {
  padding: 6.25rem 0px !important;
  margin: 0px !important;
}
.cardbox {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
}

/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}
.cardbox .btn-flat.btn-flat-icon {
 border-radius: 50%;
 font-size: 24px;
 height: 32px;
 width: 32px;
 padding: 0;
 overflow: hidden;
 color: #fff !important;
 background: #b5b6b6;
 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.cardbox .float-right .dropdown-menu{
  position: relative;
  left: 13px !important;  
}
.cardbox .float-right a:hover{
  background: #f4f4f4 !important;	
}
.cardbox .float-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important;
  color: #848484;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/* ------------------------------- */
/* Media Section
---------------------------------- */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.media .mr-3{
  margin-right: 1rem !important;
}
.media img{
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
} 
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: .4rem !important;
}
.media-body p{
  font-family: 'Rokkitt', serif;	
  font-weight: 500 !important;
  font-size: 14px;
  color: #88898a;
}
.media-body small span{
  font-family: 'Rokkitt', serif;	
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}


/* ------------------------------- */
/* Cardbox Item
---------------------------------- */
.cardbox .cardbox-item {
    position: relative;
    display: block;
    height: 400px;
    max-width: 100%;
}

.img-feed {
  height: 100%;
  width: 100%;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}	
.fw {
    width: 100% !important;
	height: auto;
}


/* ------------------------------- */
/* Cardbox Base
---------------------------------- */
.cardbox-base{
 border-bottom: 2px solid #f4f4f4;
}	
.cardbox-base ul{
 margin: 10px 0px 10px 15px!important; 
 padding: 10px !important;
 font-size: 0px;	
  display: inline-block;
}
.cardbox-base li {
  list-style: none;
  margin: 0px 10px 0px -10px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li button{
  background: 0;
  border: 0;
  outline: none;
}

.cardbox-base li a{
  margin: 0px !important;
  padding: 0px !important;
}
.cardbox-base li a i{
 position: relative;
 top: 4px; 
 font-size: 16px;
 color: #8d8d8d;
 margin-right: 15px;
}
.cardbox-base li a span{
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 margin-left: 20px;
 position: relative;
 top: 5px; 
}
.cardbox-base li a em{
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 position: relative;
 top: 3px; 
}
.cardbox-base li a img{
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}


/* ------------------------------- */
/* Cardbox Comments
---------------------------------- */
.cardbox-comments{
  position:relative;
    width: 100%;
    border: 1px solid #ddd;
}

.comment-btn{
  position:absolute;
    top: 3px;
    right:3px;
    color: #3897f0;
}


.comment-area{
  width: 80%;
  margin-bottom: -4.5px;
  position: relative;
  resize: none;
  border: none;
  overflow: auto;
  outline-width: 0;
}

.view-comments{
  width: 100%;
  height: 100px;
  padding-left: 17px;

}

.comment-text>p>.btn {
  position: relative;
  padding: 0;
  height: 16px;
  padding-left: 5px;
}
.comment-text>p>.btn>i{
  position: relative;
  top: -5px;
}

/* ------------------------------- */
/* Author
---------------------------------- */
.author a{
 font-family: 'Rokkitt', serif;
 font-size: 16px;
 color: #00C4CF;
}
.author p{
 font-family: 'Rokkitt', serif;
 font-size: 16px;
 color: #8d8d8d;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
    height: 280px;
    width: 280px;
}

.fwbtn-margin {
  margin-top: 1rem;
}

.gallery-images {
  width: 100%;
  height: 100%;
}

.comments-username {
  font-weight: 600;
  cursor: pointer;
}

.view-comments p{
  font-size: 14px;
  margin-bottom: 7px;
}

.view-comments label{
  cursor: pointer;
}

.post-image{
  width: 100%;
  height: 100%;
}

.post-comment {
  font-size: 14px;
  height: 600px;
  background-color: #ffffff;
}

.post-comment .username{
 font-weight: 600; 
}

.post-comment img{
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
}

.post-comment-area {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.post-comment .creator-username {
  position: absolute;
  top: 35px;
  left: 75px;
}

.comments{
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-bottom: -35px;
}

.comments img{
  width: 32px !important;
  height: 32px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  display: inline-block !important;
}

.comment-body{
  margin-left: 8px;
}

.comments ul{
  list-style: none;
  padding-inline-start: 0;
}

ul small{
  display: block;
  position: relative;
  left: 42px;
}

/* Modal for post */

.modal-dialog {
    /* An arbitrary minimum height. Feel free to modify this one as well */
    min-height: 350px;
    height: 80%;
}

.img-modal .modal-content, .img-modal .modal-body, .img-modal .row, .img-modal .modal-image {
    height: 100%;
}

/* Hide scrollbar */
.modal-body::-webkit-scrollbar { /* Chrome */
    width: 0;
    height: 0;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
    scrollbar-width: none; /* Hide scrollbar Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar Internet Explorer 10+ */
}

.modal-image {
    background: #000;
    padding :0;
    width: 1080px;
    height: 620px;
}

.modal-image img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-modal .img-modal-btn {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    font-size: 1.5em;
    width: 45px;
    color: #fff;
    transition: opacity .2s ease-in;
}

.img-modal .modal-image:hover .img-modal-btn {
    opacity: 0.4;  
}

.img-modal .modal-image:hover .img-modal-btn:hover {
   opacity: 0.75;   
}

.img-modal .img-modal-btn.right {
    right: 0;
}

.img-modal .img-modal-btn i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -.75em;
}

.img-modal .modal-meta {
    position: relative;   
    height: 100%;
}

.modal-meta-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 110px;
    border-bottom: 1px solid rgb(92, 90, 90);
    padding: 5px 10px;
    overflow-y: auto;
}

.img-poster img {
    height: 48px;
    width: 48px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.img-poster strong {
    display: block; 
    padding-top: 15px;
}

.img-poster span {
    display: block;   
    color: #aaa;
    font-size:.9em;
}

.modal-meta-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-comment-list {
    list-style: none;  
    padding: 0;
}
.img-comment-list li {
    margin:0;
    margin-top:10px;
}

.img-comment-list li > div {
    display:table-cell;
}

.img-comment-list img {
    border-radius:50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    margin-top: 20px;
}

.img-comment-list p {
    margin: 0;
}

.img-comment-list span {
    font-size: .8em; 
    color: #aaa;
}

@media only screen and (max-width : 992px) {
    .modal-content {
        border-radius: 0;
        max-height: 100%;
        overflow-y: auto;
    }
    
    .modal-meta {
        height: auto;
    }
    
    .modal-meta-top {
        position: absolute;
        padding-top: 15px;
    }
    
    .modal-meta-bottom {
        margin: 0;
    }
}

.feed-comments{
  list-style-type: none;
  margin-left: -25px;
}

.img-circle{
  border-radius: 50%;
}

/* Follow and edit user button */
.fbtwn-margin {
  margin-top: 10px;
}

.settings-icon{
  position: relative;
  top: -28px;
  left: 11rem;
}

.feed-comments-component .comment-emoji{
  font-size: 20px;
  position: relative;
  bottom: 15px;
}

@media (max-width: 485px) { 
  .feed-comments-component .comment-emoji{
    font-size: 20px;
    position: relative;
    bottom: 15px;
    right: 10px;
  }
}

.btn-emoji{
  position: relative;
  right: 22px;
}

.feed-comments-component .emoji-picker {
  display: none;
  position: absolute;
  z-index: 10;
  top: 16.2rem;
  left: 4rem;
}

.post-comments-component .comment-emoji{
  font-size: 20px;
  position: relative;
  bottom: 15px;
  right: 20px;
}

.post-comments-component .emoji-picker {
  display: none;
  position: absolute;
  bottom: 54px;
}

/* Messaging */

.chat::-webkit-scrollbar {
  width: 5px;
}

.chat::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

.chat::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

textarea::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.chat-input {
  resize: none;
  flex: 1 1;
  width: 100%;
  height: 48px;
  outline: none;
}

/* Followers */
.user-follower {
  position: relative;
  margin-bottom: 40px;
}
.user-follower img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 50%;
  width: 40px;
}
.user-follower a {
  font-size: 1.1em;
  line-height: 1;
}
.user-follower .username {
  font-size: 0.9em;
  line-height: 1.5;
}
.user-follower .btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 92px;
}

.btn-approve {
  left: 8rem;
}

@media (max-width: 1200px) { 
  .user-follower .btn {
    right: -3rem;
  }

  .btn-approve {
    position: relative;
    top: 10px;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  position: absolute;
  right: 1rem;
  top: 1px;
}

.btn-default:hover {
  background-color: #ccc;
}

.btn-toggle-following {
  background-color: #7bae16;
  color: #fff;
}
.btn-toggle-following:hover {
  background-color: #ef2020;
  color: #fff;
}
.btn-toggle-following:hover span {
  display: none;
}
.btn-toggle-following:hover:after {
  content: 'Unfollow';
  display: inline;
}
.btn-toggle-following:hover i:before {
  content: '\f129';
}

/* Profile Picture */
.profile-picture{
  height: 118px;
  cursor: pointer;
}

.msgbtn {
  margin-left: 10px;
}

/* Error 404 */
.error-404 {
  margin: 0 auto;
  text-align: center;
}
.error-404 .error-code {
  bottom: 60%;
  color: #4686CC;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
}
.error-404 .error-desc {
  font-size: 12px;
  color: #647788;
}
.error-404 .m-b-10 {
  margin-bottom: 10px!important;
}
.error-404 .m-b-20 {
  margin-bottom: 20px!important;
}
.error-404 .m-t-20 {
  margin-top: 20px!important;
}

.searchBar input{
  border-radius: 2px;
  border: 1px solid #000;
  text-align: center;
}

.search-icon {
  position: relative;
  right: 25px;
}

#search-results {
  margin-left: 42%;
}

.search-picture {
  padding-right: 10px;
  position: relative;
  top: 8px;
}

.search-fullname {
  display: block;
    position: relative;
    left: 58px;
    bottom: 6px;
}

a {
  text-decoration: none;
}

#search-results img {
  border-radius: 50%;
  height: 40px;
}

@media (max-width: 390px) { 
  .searchBar input {
    position: relative;
    top: 10px;
  }

  .search-icon {
    position: relative;
    left: 9.5rem;
    bottom: 14px;
  }

  #search-results {
    margin-left: 6%;
  }
}