a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  list-style-type: none;
}

.feedCustom {
  position: absolute; 
  transform: translate3d(-136px, 28px, 0px); 
  top: 0px; 
  left: 0px; 
  will-change: auto;
}

.unread {
  position: relative;
  bottom:10px;
  left:35px;
  z-index: 1;
}

@media(max-width: 547px) {
  .notification-icon {
    position: relative;
    bottom: 18px;
    left: 17px;
  }
}

@media (max-width: 548px) { 
  .brand {
      display: none;
  }
  .notification-icon {
    position: inherit;
  }
}

@media(max-width: 440px) {
  .unread {
    left: 25px;
  }
  .notification-icon {
    position: relative;
    left:10px;
    bottom: 0;
  }
}